@font-face {
    font-family: 'Gotham Pro Medium';
    src: url("/typo3conf/ext/template_local/Resources/Public/Fonts/GothamPro-Medium.eot");
    src: local('Gotham Pro Medium'), local('GothamPro-Medium'), url("/typo3conf/ext/template_local/Resources/Public/Fonts/GothamPro-Medium.eot?#iefix") format('embedded-opentype'), url("/typo3conf/ext/template_local/Resources/Public/Fonts/GothamPro-Medium.woff") format('woff'), url("/typo3conf/ext/template_local/Resources/Public/Fonts/GothamPro-Medium.ttf") format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham Pro';
    src: url("/typo3conf/ext/template_local/Resources/Public/Fonts/GothamPro2.eot");
    src: local('Gotham Pro'), local('GothamPro'), url("/typo3conf/ext/template_local/Resources/Public/Fonts/GothamPro2.eot?#iefix") format('embedded-opentype'), url("/typo3conf/ext/template_local/Resources/Public/Fonts/GothamPro2.woff") format('woff'), url("/typo3conf/ext/template_local/Resources/Public/Fonts/GothamPro2.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GothamNarrow-BlackItalic';
    src: url("/typo3conf/ext/template_local/Resources/Public/Fonts/GothamNarrow-BlackItalic.eot");
    src: url("/typo3conf/ext/template_local/Resources/Public/Fonts/GothamNarrow-BlackItalic.eot?#iefix") format('embedded-opentype'), url("/typo3conf/ext/template_local/Resources/Public/Fonts/GothamNarrow-BlackItalic.woff") format('woff'), url("/typo3conf/ext/template_local/Resources/Public/Fonts/GothamNarrow-BlackItalic.ttf") format('truetype'), url("/typo3conf/ext/template_local/Resources/Public/Fonts/GothamNarrow-BlackItalic.svg#GothamNarrow-BlackItalic") format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'GothamXNarrow-BlackItalic';
    src: url("/typo3conf/ext/template_local/Resources/Public/Fonts/GothamXNarrow-BlackItalic.eot");
    src: url("/typo3conf/ext/template_local/Resources/Public/Fonts/GothamXNarrow-BlackItalic.eot?#iefix") format('embedded-opentype'), url("/typo3conf/ext/template_local/Resources/Public/Fonts/GothamXNarrow-BlackItalic.woff") format('woff'), url("/typo3conf/ext/template_local/Resources/Public/Fonts/GothamXNarrow-BlackItalic.ttf") format('truetype'), url("/typo3conf/ext/template_local/Resources/Public/Fonts/GothamXNarrow-BlackItalic.svg#GothamXNarrow-BlackItalic") format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'HelveticaNowDisplay-Regular';
    src: url("/typo3conf/ext/template_local/Resources/Public/Fonts/HelveticaNowDisplay-Regular.eot");
    src: url("/typo3conf/ext/template_local/Resources/Public/Fonts/HelveticaNowDisplay-Regular.eot?#iefix") format('embedded-opentype'), url("/typo3conf/ext/template_local/Resources/Public/Fonts/HelveticaNowDisplay-Regular.woff") format('woff'), url("/typo3conf/ext/template_local/Resources/Public/Fonts/HelveticaNowDisplay-Regular.woff2") format('woff2'), url("/typo3conf/ext/template_local/Resources/Public/Fonts/HelveticaNowDisplay-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'HelveticaNowDisplay-Bold';
    src: url("/typo3conf/ext/template_local/Resources/Public/Fonts/HelveticaNowDisplay-Bold.eot");
    src: url("/typo3conf/ext/template_local/Resources/Public/Fonts/HelveticaNowDisplay-Bold.eot?#iefix") format('embedded-opentype'), url("/typo3conf/ext/template_local/Resources/Public/Fonts/HelveticaNowDisplay-Bold.woff") format('woff'), url("/typo3conf/ext/template_local/Resources/Public/Fonts/HelveticaNowDisplay-Bold.woff2") format('woff2'), url("/typo3conf/ext/template_local/Resources/Public/Fonts/HelveticaNowDisplay-Bold.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/*!
 * Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license (Commercial License)
 */
/*!
 * Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license (Commercial License)
 */
@font-face {
    font-family: 'Font Awesome 5 Brands';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url("/typo3conf/ext/template_local/Resources/Public/Fonts/FontAwesome/fa-regular-400.eot");
    src: url("/typo3conf/ext/template_local/Resources/Public/Fonts/FontAwesome/fa-regular-400.eot?#iefix") format('embedded-opentype'), url("/typo3conf/ext/template_local/Resources/Public/Fonts/FontAwesome/fa-regular-400.woff2") format('woff2'), url("/typo3conf/ext/template_local/Resources/Public/Fonts/FontAwesome/fa-regular-400.woff") format('woff'), url("/typo3conf/ext/template_local/Resources/Public/Fonts/FontAwesome/fa-regular-400.ttf") format('truetype'), url("/typo3conf/ext/template_local/Resources/Public/Fonts/FontAwesome/fa-regular-400.svg#fontawesome") format('svg');
}

.far {
    font-family: 'Font Awesome 5 Brands';
    font-weight: 400;
}

/*!
 * Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license (Commercial License)
 */
@font-face {
    font-family: 'Font Awesome 5 Pro';
    font-style: normal;
    font-weight: 900;
    font-display: block;
    src: url("/typo3conf/ext/template_local/Resources/Public/Fonts/FontAwesome/fa-solid-900.eot");
    src: url("/typo3conf/ext/template_local/Resources/Public/Fonts/FontAwesome/fa-solid-900.eot?#iefix") format('embedded-opentype'), url("/typo3conf/ext/template_local/Resources/Public/Fonts/FontAwesome/fa-solid-900.woff2") format('woff2'), url("/typo3conf/ext/template_local/Resources/Public/Fonts/FontAwesome/fa-solid-900.woff") format('woff'), url("/typo3conf/ext/template_local/Resources/Public/Fonts/FontAwesome/fa-solid-900.ttf") format('truetype'), url("/typo3conf/ext/template_local/Resources/Public/Fonts/FontAwesome/fa-solid-900.svg#fontawesome") format('svg');
}

.fa,
.fas {
    font-family: 'Font Awesome 5 Pro';
    font-weight: 900;
}

/*!
 * Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license (Commercial License)
 */
@font-face {
    font-family: 'Font Awesome 5 Pro';
    font-style: normal;
    font-weight: 300;
    font-display: block;
    src: url("/typo3conf/ext/template_local/Resources/Public/Fonts/FontAwesome/fa-light-300.eot");
    src: url("/typo3conf/ext/template_local/Resources/Public/Fonts/FontAwesome/fa-light-300.eot?#iefix") format('embedded-opentype'), url("/typo3conf/ext/template_local/Resources/Public/Fonts/FontAwesome/fa-light-300.woff2") format('woff2'), url("/typo3conf/ext/template_local/Resources/Public/Fonts/FontAwesome/fa-light-300.woff") format('woff'), url("/typo3conf/ext/template_local/Resources/Public/Fonts/FontAwesome/fa-light-300.ttf") format('truetype'), url("/typo3conf/ext/template_local/Resources/Public/Fonts/FontAwesome/fa-light-300.svg#fontawesome") format('svg');
}

.fal {
    font-family: 'Font Awesome 5 Pro';
    font-weight: 300;
}

/*!
 * Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license (Commercial License)
 */
@font-face {
    font-family: 'Font Awesome Brands';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url("/typo3conf/ext/template_local/Resources/Public/Fonts/FontAwesome/fa-brands-400.eot");
    src: url("/typo3conf/ext/template_local/Resources/Public/Fonts/FontAwesome/fa-brands-400.eot?#iefix") format('embedded-opentype'), url("/typo3conf/ext/template_local/Resources/Public/Fonts/FontAwesome/fa-brands-400.woff2") format('woff2'), url("/typo3conf/ext/template_local/Resources/Public/Fonts/FontAwesome/fa-brands-400.woff") format('woff'), url("/typo3conf/ext/template_local/Resources/Public/Fonts/FontAwesome/fa-brands-400.ttf") format('truetype'), url("/typo3conf/ext/template_local/Resources/Public/Fonts/FontAwesome/fa-brands-400.svg#fontawesome") format('svg');
}

.fab {
    font-family: 'Font Awesome Brands';
    font-weight: 400;
}